$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;

    a,
    a:hover {
        text-decoration: none;
        color: inherit;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

imagediff {
    position: relative;

    img, canvas {
        max-width: 100%;
    }
}

.dropdown {
    cursor: pointer;

    >div {
        padding: 0;
    }
}

.diffs,
.shots {
    .panel-title {
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
    }

    label {
        cursor: pointer;
    }
}
.diffs {
    .panel-heading {
        background-color: #d9534f;
    }
}
.shots {
    .panel-heading {
        background-color: #5cb85c;
    }

    img {
        max-width: 100%;
    }
}

.header img {
    height: 45px;
}

pre {
    padding: 0;
}

footer {
    text-align: center;
}

.navbar-toggle {
    cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .header h3 {
        padding-left: 50px;
    }

    .navbar-toggle {
        position: absolute;
        top: -67px;
        left: 0;
    }
    .navbar-repository {
        background: none;
        border: 0;
        min-height: 0px;
    }
    .dropdown > .navbar-collapse {
        display: block;

        .dropdown-toggle {
            display: none;
        }

        >.navbar-nav {
            margin: 0;
        }

        .dropdown-menu {
            padding: 0;
            border-bottom: 1px solid #cccccc;

            li:hover {
                background: #eeeeee;
            }
        }
    }

}
