<div ng-include="'partials/navbar'"></div>

<div class="alert alert-warning" ng-show="noReposFound">
    <h4>No image repositories were found!</h4>
</div>

<nav class="navbar navbar-default navbar-repository" role="repository-navigation" ng-show="!noReposFound">
    <div class="dropdown">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Choose Regression Repository <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, value) in repositories"><a href="/regression-tests/{{ key }}">{{ key }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <a class="navbar-toggle dropdown-toggle collapsed" data-toggle="dropdown" data-target=".navbar-nav .dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
</nav>

<div class="panel panel-default diffs" ng-repeat="diff in diffs">
    <div class="panel-heading"><h3 class="panel-title">{{ diff.split('.').slice(0,-2).join(' ') }}</h3></div>
    <div class="panel-body">
        <imagediff diff="diff" project="dir" />
    </div>
</div>

<div class="panel panel-default shots" ng-repeat="shot in shots">
    <div class="panel-heading">
        <h3 class="panel-title">{{ shot.split('.').slice(0,-1).join(' ') }}</h3>
    </div>
    <div class="panel-body">
        <img ng-src="/api/repositories/{{ dir }}/{{ shot }}" alt="{{ shot }}">
    </div>
</div>

<div class="introduction" ng-show="shots.length === 0 && diffs.length === 0">
    <h2>Howdy,</h2>

    <p>
        …and congratulations!
        You've successfully set up the WebdriverCSS Adminpanel.
        Now you can start with your CSS regression tests.
        This application will help you to get an overview
        of all made screenshots of your project.
    </p>

    <p>
        To get started just type your project name into the input field and copy
        the source code below into a test file and execute it.
    </p>

    <label for="projectname" style="margin-top: 20px;">Your Project Name</label>
    <input type="text" id="projectname" class="form-control" ng-model="projectname" placeholder="myProject">

    <label for="projecturl" style="margin-top: 10px;">Your Project URL</label>
    <input type="text" id="projecturl" class="form-control" ng-model="projecturl" placeholder="http://example.com">

    <div hljs language="javascript" include="'compile-me'" compile="true" style="margin: 30px 0;"></div>

<script type="text/ng-template" id="compile-me">
var WebdriverIO = require('webdriverio'),
    WebdriverCSS = require('webdrivercss');

var client = WebdriverIO.remote({
    desiredCapabilities: {
        browserName: 'firefox'
    }
});

WebdriverCSS.init(client, {
    screenshotRoot: '{{ projectname || "myProject" }}',
    api: '{{ api }}'
});

client
    .init()
    .sync()
    .url('{{ projecturl || "http://example.com" }}')
    .webdrivercss('exampleTest', {
        name: 'homepage',
      }
    )
    .sync()
    .end();
</script>

    <p>
        For more information on how to install and use <a href="https://github.com/webdriverio/webdrivercss">WebdriverCSS</a>
        and <a href="http://webdriver.io">WebdriverIO</a> please checkout their project website or GitHub repositories.
    </p>
</div>

<hr>
